body{
    background-color: black;
    margin:0;
    padding:0;
}
.container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin-left: 50px; */
    font-size: 0px;
}

.row div{
 
    display: inline-block;
    width: 20px;
    height: 20px;
    
}

.brick{
    background-color: blue;
    
}

.cherry{
    background: url(assets/pacman-art/other/apple.png) no-repeat center;
    background-size: cover;
   
}

.coin{
    /* background-color: brown; */
    background: url(assets/pacman-art/other/dot.png) no-repeat center;
    background-size: cover;
    
}

.gate{
    background-color: red;
}

#pacman{
    background: url(assets/pacman-right.gif) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
}

#blinky{
    background: url(assets/pacman-art/ghosts/blinky.png) no-repeat center;
}

#clyde{
    background: url(assets/pacman-art/ghosts/clyde.png) no-repeat center;
}

#inky{
    background: url(assets/pacman-art/ghosts/inky.png) no-repeat center;
}

#pinky{
    background: url(assets/pacman-art/ghosts/pinky.png) no-repeat center;
}

.ghosts{
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
}