body{
    background-color: black;
}

div#container{
  height: 100%;
  width: 100%;

}

div.row div{

    width: 20px;
    height: 20px;
    display: inline-block;
}

div.brick{
    background-color: blue;

}

div.coin{
    background: url(assets/coin-gif.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div#pacman{
    background: url(assets/pacman-right.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 28;
    left:28;
    position: absolute;
    
}

div.visited{
    background-color: rgb(94, 43, 43);
}
div.empty{
    background-color: rgb(61, 61, 61);
}